<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="{{.BaseURL}}/index.css" />
    <link rel="stylesheet" type="text/css" href="{{.BaseURL}}/swagger-ui.css" />
    <link rel="icon" type="image/png" href="{{.BaseURL}}/favicon-32x32.png" sizes="32x32" />
  </head>

  <body>
    <div id="swagger-ui"></div>
    <script src="{{.BaseURL}}/swagger-ui-bundle.js"></script>
    <script>
      window.onload = function () {
        window.ui = SwaggerUIBundle({
          url: "https://petstore3.swagger.io/api/v3/openapi.json",
          dom_id: "#swagger-ui",
          deepLinking: true,
          presets: [SwaggerUIBundle.presets.apis],
          plugins: [SwaggerUIBundle.plugins.DownloadUrl],
        });
      };
    </script>
  </body>
</html>
